:root{
    --text-color: #d9e1f1;
    --text-color2:#52677d;
    --link-color: #4a76ee;
    --background-color:#192338;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background-color: var(background-color);
}

a{
    color: var(--link-color);
    text-decoration:none;
}

/* NAV BAR */
nav{
    display:flex;
    justify-content: space-between;
    padding:10px 15px;
    height:80px;
    align-items:center;
    background-color: var(--background-color);
    position:fixed;
    width: 100%; /* Add this */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    z-index: 1000; /* Ensure it stays above other content */
    box-sizing: border-box; /* Include padding in width calculation */
}

nav .left a{
    color: var(--text-color);
    font-size:22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin:0px 15px;
}

nav .right a:hover{
    color: var(--link-color);
}

nav .right a:last-child{
    color:var(--text-color);
    background-color:var(--text-color2);
    font-size:18px;
    padding:5px 20px;
    border-radius: 5px;
}

nav .right a:last-child:hover{
    color:var(--text-color2);
    background-color:var(--text-color);
    font-size:18px;
    padding:5px 20px;
    border-radius: 5px;
}

@media(max-width:655px){
    /* NAV BAR */
    nav .right a{
    display: none;
    }
    nav .right a:last-child{
        display:block;
        margin:0px 0px;
    }
}

/* FOOTER */
footer{
    padding:100px 0;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-between;
    color:var(--text-color);
}

.footer-container div{
    flex: 1;
    min-width: 200;
    margin-left: 20px;
}

.footer-container h3{
    font-size:36px;
}

.footer-container p{
    font-size:12px;
    color:var(--text-color2);
    gap:5px;
}

.footer-container .links{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.footer-container .projects{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.footer-container a{
    font-size:12px;
    color:var(--text-color2);
}

.footer-container .icons {
    display: flex;
    gap: 10px;
    margin-left:0;
    margin-top: 25px;
}

.footer-container .icons a{
    padding:5px 10px;
    border-radius: 5px;
    color:var(--text-color);
    background-color: var(--text-color2);
}

.footer-container .icons a:hover{
    background-color: var(--link-color);
}

.footer-container a:hover{
    color:var(--text-color);
}

.footer-container .address{
    display:flex;
    flex-direction: column;
    gap:5px;
}


/* MAIN */
main{
    padding-top:80px;
}

/* SECTION: INDEX */
.index-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px;
    margin: 50px 0px;
    gap:40px;
}

.index-section .text{
    flex:5;
    margin-left: 150px;
}

.index-section .text h2{
    font-size:45px;
}

.index-section .text p{
    font-size:25px;
}

.index-section .text span{
    vertical-align: top;
    font-size:16px;
}

.index-section .text span{
    vertical-align: top;
    font-size:16px;
}

.index-section .text .links{
    margin-top: 25px;
}

.index-section .text .links a{
    display:inline-block;
    padding:5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.index-section .text .links a:hover{
    background-color: var(--link-color);
    color:var(--text-color);
}

.index-section .headshot{
    flex:2;
    display:flex;
    justify-content: right;
}

.index-section .headshot img{
    width:350px;
    border-radius:50%;
}

@media(max-width:1110px){
    .index-section{
        flex-direction: column-reverse;
    }
    .index-section .headshot img{
        width:175;
        height:fit-content;
    }
    .index-section .text{
    flex:5;
    margin-left: 100px;
    }
}

/* About */
.about-page{
    display: flex;
    justify-content: center;
}

.about-page hr{
    border-color:var(--background-color);
    margin:10px 0px;
}

.about-page section{
    display:flex;
    flex-direction: row;
    justify-content: center;
    border:2px solid var(--background-color);
    width: 550px;
    margin:50px 10px;
    padding:40px 60px;
}

.about-page section div{
    margin-bottom: 20px;
}

.about-page .left{
    flex:0 0 40%;
    margin-right: 20px;
}

.about-page .right{
    flex:0 0 60%;
    margin-top: 70px;
    margin-left: 20px;
}

.about-page .left .skills{
    margin-bottom: 0px;
}

.about-page .left .skills i{
    margin-top: 10px;
    font-size:20px;
    font-style: italic;
}

.about-page .left .skills span{
    margin-left: 10px;
}

.hinh{
    display: flex;
    justify-content: center;
}

.hinh img{
    width:100%;
    height:auto;
    object-fit: contain;
    display: block;
}

.about-page .right .contact i{
    margin-bottom: 15px;
    margin-right: 10px;
}

.about-page .right .contact span{
    font-size:15px;
}

